# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
public/images
src/assets


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js 依賴
node_modules/

# 日誌檔
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 環境變數
.env
.env.local
.env.*.local

# 產生出來的編譯檔案
dist/
build/

# IDE / 編輯器
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 作業系統檔案
.DS_Store
Thumbs.db

# 其他
*.log



